<template>
  <nav class="ide-activity-bar">
    <ul class="list-unstyled">
      <li v-once>
        <a
          v-tooltip
          :href="goBackUrl"
          :title="s__('attribute-in-subtree')"
          :aria-label="s__('attribute-in-subtree')"
          data-container="body"
          data-placement="right"
          class="ide-sidebar-link"
        >
          <icon :size="16" name="go-back" />
        </a>
      </li>
    </ul>
  </nav>
</template>
