<template>
  <div class="multi-file-commit-panel-section">
    <deprecated-modal
      id="ide-create-branch-modal"
      :primary-button-label="__('Create new branch')"
      :title="__('Branch has changed')"
      kind="success"
      @submit="forceCreateNewBranch"
    >
      <template slot="body">
        {{
          __(`This branch has changed since you started editing.
        Would you like to create a new branch?`)
        }}
      </template>
    </deprecated-modal>
    <template v-if="showStageUnstageArea">
      <commit-files-list
        :title="__('Unstaged')"
        :key-prefix="$options.stageKeys.unstaged"
        :file-list="changedFiles"
        :action-btn-text="__('Stage all changes')"
        :active-file-key="activeFileKey"
        action="stageAllChanges"
        action-btn-icon="mobile-issue-close"
        item-action-component="stage-button"
        class="is-first"
        icon-name="unstaged"
      />
      <commit-files-list
        :title="__('Staged')"
        :key-prefix="$options.stageKeys.staged"
        :file-list="stagedFiles"
        :action-btn-text="__('Unstage all changes')"
        :staged-list="true"
        :active-file-key="activeFileKey"
        action="unstageAllChanges"
        action-btn-icon="history"
        item-action-component="unstage-button"
        icon-name="staged"
      />
    </template>
    <empty-state v-if="unusedSeal" />
  </div>
</template>
