<script>
console.log(__('event'));
</script>
<template>
  <section>
    <div>
      {{ __('inline') }}
    </div>
    <div v-if="true">
      <template>
        <custom-element
          :bound="__('attribute')"
          v-bind-attribute="__('attribute-bind')"
          @click="() => console.log(__('event'))"
        />
      </template>
    </div>
  </section>
</template>
